<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @search != nil %>
	<p>The word that you introduced was: <%= @search.getWordSearch=%></p>
	<% @search.getWords.each do |i| %>
		<p>Word: <%= i.getWord =%></p>
		<% i.getEntries.each do |e| %>
			<p>Entry for word: <%= e.getDefinition =%></p>
		<% end %>
	<% end %>
<% end %>
